/*generic sections and content boxes */
body {
	background-image: url("../images/background.png");
}

.topBar {
	overflow: auto;
	background-color: #ffffff;
	border-bottom: #cccccc solid 2px;  /* is this list correct?*/  /* Did it work? If the answer is yes, sure. Usually, devs will do 2px solid #color */
}

.topWrap {
	/*background-color: yellow;*/
	overflow: auto;
	width: 960px;
	margin: auto;
}

.topBar__name {
	float: left;
	background-color: #4aaaa5;
	padding: 22px 30px 22px 30px;
}

.topBar__navigation {
 	/*background-color: orange;*/  /*I like that you used test cases to make sure that things were workign the way they were supposed to. When you're done, clean this up by taking it out*/
 	float: right;
 	margin-top: 35px;
 	color: #dddddd;
}

.middleBar {
	/*background-color: purple;*/
	clear: both;
	overflow: auto;
}

.middleWrap {
	/*background-color: yellow;*/
	overflow: auto;
	margin: auto;
	padding: 40px 0px 40px 0px;
	width: 960px;
}

.contentBox {
	border: #dddddd solid 1px;
	padding: 30px 30px 30px 30px;
	background-color: #ffffff;
}

.contentBox__main {
	float: left;
  	width: 590px;
  	overflow: auto;
}

.contentBox__connect {
	float: right;
	width: 210px;
	overflow: auto;
}

footer {
	background-color: #666666;
	color: #cccccc;
	border-top: #4aaaa5 solid 8px;
	text-align: center;
	font-size: small;
	padding-top: 20px;
}

/*about page items */
#profilePic {
	width: 200px;
	float: left;
	margin: 10px 25px 10px 0px;
}

/*portfolio page items*/
.portfolioItem__odd {
	float: left;
	position: relative;
	width: 275px;
	height: 205px;
	margin: 30px 0px 30px 0px;
}

.portfolioItem__even {
	float: right;
	position: relative;
	width: 275px;
	height: 205px;
	margin: 30px 0px 30px 0px;
}

.portfolioPic {
	width: 100%;
	height: 100%;
}

.portfolioTitle {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	background-color: #4aaaa5;
}

/*contact page elements*/
form {
	margin: 30px 0px 0px 0px;
}

input {
	margin: 10px 0px 20px 0px;
	border: #CCCCCC solid 1px;
	padding: 10px;
	width: 570px;
	color: #cccccc;
}

textarea {
	margin: 10px 0px 20px 0px;
	border: #CCCCCC solid 1px;
	padding: 10px;
	width: 570px;
	height: 200px;
	color: #CCCCCC;
}

button {
	border: none;
	padding: 10px 35px 10px 35px;
	background-color: #4aaaa5;
	font-size: large;
	color: #ffffff;
}

button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

/*general elements*/


/*text styles*/ 
h1, h2, h3, h4 {  /* nice work chaining your elements! */
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
	color: #4aaaa5;
}

h1 {
	font-size: xx-large;
	line-height: 1.5;
}

.h1--topBar {
	color: #ffffff;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: large;

}

.h2--portfolioTitle {
	color: #ffffff;
	font-weight: normal;
	line-height: 2;
	margin: 5px 0px 5px 0px;
}

.standardText {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: large;
}

p {
	line-height: 2;
	margin: 10px 0px 10px 0px;
}

/*link styles*/
a {
	text-decoration: none;
}

.contactLink {  /* nice!!! */
	float: left;
	height: 60px;
	width: 60px;
	margin-top: 5px;
}

.contactLink--padded {
	margin-right: 14px;
}

.contactLink:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navLink {
	color: #777777;
}

.navLink:hover { /* excellent use of pseudo classes to achieve your goal */
	color: #4aaaa5;
}

.navLink--left {
	margin: 0px 10px 0px 0px;
}

.navLink--middle {
	margin: 0px 10px 0px 10px;
}

.navLink--right {
	margin: 0px 0px 0px 10px;
}

.portfolioLink:hover { /* nice attention to detail */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* stick footer css */
html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 100%;
}

.pageWrap {
	min-height: 100%;
	margin-bottom: -68px;
}

.pageWrap:after { /* it's cool tha tyou made this an after pseudoclass. do you really need to? */
	content: "";
	display: block;
}

footer, .pageWrap:after {
	height: 60px;
}